
    /*TODO secondary template styles */

/*primary styles and fonts for the hero.teasesr */
.teaser.hero {
    max-height: 600px;
    height: 600px;

    .teaser-pre-title {
        .title {
            font-family: var(--poppins-font-family);
            color: var(--ivory);
            font-size: var(--size-14);
            line-height: var(--x2);
            font-weight: var(--bold-600);
            text-transform: uppercase;
            margin-bottom: 50px;
        }
    }
    .title {
        margin: 0;
        color: var(--ivory);
        font-size: var(--size-120);
        line-height: .4;
        font-family: var(--superior-font-family);
        font-weight: var(--bold-700);
    }
    .image  > picture > img {
        max-height: 600px;
        width: 100%;
        height: 600px;
    }
    }

/*rounded modifier styles*/
.section.teaser-container .teaser.hero.rounded {
        max-width: 70%;
        .teaser-first-image.image {
            position: absolute;
            max-width: 72%;
            left: 0;    
            >picture {
                >img {
                    border-radius: 0 0 200px 0;
                }
            }
        }
        .teaser-second-image.image {
            position: absolute;
            max-width: 73%;
            left: 75%;
            >picture {
                >img {
                    border-radius: 0 0 0 200px;
                }
            }
        }
    }

