/* Main Homepage Teaser Styling */
.teaser.homepage.secondary {
    background-color: var(--secondary-background-color);
    > div > p {
        font-family: var(--poppins-font-family);
        color: var(--white);
        line-height: var(--x2);
        font-size: var(--size-16);
    }
    .teaser-pre-title .title {
        color: var(--light-purple);
        font-size: var(--size-14);
        line-height: var(--x2);
        font-family: var(--poppins-font-family);
        font-weight: var(--bold-600);
        text-transform: uppercase;
    }    
    .title {
        color: var(--white);
        font-size: var(--size-60);
        line-height: var(--size-60);
        font-family: var(--superior-font-family);
        font-weight: var(--bold-700);
    }   
}


.teaser.homepage.secondary.rounded {
    .teaser-first-image {
        max-width: 58%;
        >picture {
            >img {
                border-radius: 0 200px 200px 0;
            }
        }
    }
    .teaser-second-image {
        left: unset;
        right: 0;
        position: absolute;
        width: 40%;
                    
        > picture {
            > img {
                height: 600px;
                border-radius: 200px 0 0 200px;
            }
        }
        
    }
}


