/* Styles that set up a base level teaser that all modifiers will share*/
.section.teaser-container .teaser div:not(.image),
.section.teaser-container .teaser em {
    z-index: 5;
}

.section.teaser-container {
    overflow: hidden;
    position: relative;
    padding: 0;
    max-height: 720px;
    height: 720px;
    .teaser-wrapper  {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: 100%;
        .teaser {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: end;
            padding: 0 2rem;
        }
    }
    .title {
        margin: 0;
    }
    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        >picture {
            display: flex;
            >img {
                max-height: 720px;
                height: 720px;
                width: 100%;
            }
        }
    }
}

.section.teaser-container.columns-container {
    height: fit-content;
    .columns > div > div {
        height: 600px;

        .teaser-wrapper {
            padding-top: 2rem;
        }
    }
}

/* Style Modifiers to Move Content Horizontally*/
.teaser.align-center {
    align-items: center !important;
    text-align: center !important;
}
.teaser.align-right {
    align-items: end !important;
    text-align: center !important;
}
/* Style Modifiers to Move Content Vertically*/
.teaser.justify-center {
    justify-content: center !important;
}

.teaser.justify-end {
    justify-content: end !important;
}

.teaser.justify-baseline {
    justify-content: baseline !important;
}


.teaser.shaded-100 {
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: #00000040;
    }
}