.article-block {
    display: flex;
    justify-content: space-between;
    min-height: 155px;
    height: fit-content;
    margin-bottom: 30px;

    .article-image-wrapper {
        display: flex;
        align-items: center;
        > img {
            max-height: 155px;
            border-radius: 25px;
            aspect-ratio: 1/1;
            min-height: 100px;
            min-width: 100px;
        }
    }

    .text-body {
        width: 70%;
        &:hover {
            .info .subtitle-wrapper .article-subtitle {
                opacity: unset;
                color: unset;
            }
        }
        .info {
            min-height: 100px;
            height: fit-content;
            display: flex;
            flex-direction: column;

            > .article-title {
                margin: 10px 0;
                font-size: 20px;
            }
            .subtitle-wrapper .article-subtitle {
                margin: 0;
                text-wrap: wrap;
                padding-right: 20px;
                font-size: 16px;
                line-height: 20px;
                color: var(--slate);
                opacity: .75;

            }
        }
    }

    .tagline-wrapper {
        min-height: 27px;
        height: fit-content;
        display: flex;
        align-items: center;
        .publish-date {
            font-weight: 200;
            font-size: 12px;
            margin-right: 15px;
        }
        .tag {
            font-weight: 200;
            font-size: 12px;
            padding: 7px 5px;
            border-radius: 14px;
            background-color: var(--light-purple);
        }
    }
}

.article-list-wrapper {
    .author-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        height: 28px;
        > a {
            display: flex;
            align-items: center;
            > p {
                margin: 0;
                font-weight: 300;
                font-size: 14px;
            }
        }
        .author-icon  {
            margin-right: 15px;
            > a  {
                display: flex;
                > img {
                    border-radius: 25px;
                    height: 28px;
                    width: 28px;
                }
            }
        }
    }  
}