footer {
  padding: 2rem;
  border-top: solid 1px var(--footer-border-color);
  background-color: var(--footer-background-color);
  font-size: var(--footer-links-font-size);
  line-height: var(--footer-links-line-height);
  font-weight: var(--footer-links-weight);
  color: var(--footer-listed-links-color);
  font-family: var(--footer-font-family);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
  > div {
    display: grid;

    > div > ul {
      list-style-type: none;
      padding-left: 5rem;
      margin-top: 0;

      > li {
        padding: 1rem 0;
      }

    }

    > div:nth-child(1) {
      grid-column: 1;
    }
    > div:nth-child(2) {
      grid-column: 2;
      width: fit-content;
    }
    > div:nth-child(3) {
      grid-column: 3;
      width: fit-content;
    }
    > div:nth-child(4) {
      grid-column: 5;
      margin-left: 5rem;
      padding-top: 15px;

      > p {
        display: flex;

        > a {
          width: 50px;
          height: 50px;
          display: flex;
          border: 1px solid var(--footer-icon-border-color);
          border-radius: 100%;
          justify-content: center;
          align-items: center;
          margin: 0 .5rem;

          .icon {
            width: 16px;
            height: 16px;
          }
        }

        > a:hover {
          border-color: var(--footer-icon-border-hover-color);
        }
      }
    }
    > div:nth-child(5) {
      grid-column: 6;
    }
  }
}

footer .footer .icon.icon-logo {
  width: fit-content;
  > img {
    width: 150px;
    height: auto;
  }
}


footer .footer p {
  margin: 0;
}