footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  > div {
    display: flex;
  }
}

footer .footer .icon.icon-logo {
  width: fit-content;
  
  > img {
    width: 128px;
    height: auto;
  }
}


footer .footer p {
  margin: 0;
}