body.article {
    .section .default-content-wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }
    .section.columns-container {
        padding-left: 10%;
        padding-right: 10%;
    }
}