body.article {
    font-size: 18px;
    .section {
        padding: 20px 40px;
        width: 700px;
        max-width: 100%;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        > div:last-child {
            padding-bottom: 50px;
        }
    }
    .section > div:first-child h3 {
        margin: 20px 0;
    }
    .button-container {
        display: flex;
        justify-content: center;
    }

    main img {
        border-radius: 25px;
    }
}