
a:any-link {
    color: var(--link-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
  }
  
  /* Common Styling */
  a.button:any-link, button,
  header div.nav-tools p strong a {
    font-family: var(--button-font);
    font-size: var(--button-text-size);
    line-height: var(--button-line-height);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 12px 36px 12px 36px;
    text-align: center;
    font-style: normal;
    font-weight: var(--button-font-weight);
    cursor: pointer;
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0 25px 25px 25px;
  }
  a.button:hover, a.button:focus, button:hover, button:focus  {
    cursor: pointer;
  }

  header p strong a:hover,
  header p strong a:focus {
    border-color: var(--purple) !important;
  }
  
/* Primary Button */
  p > a.button,
  div > a.button,
  header div.nav-tools p strong a {
    background-color: var(--button-background-color);
    color: var(--button-font-color);
  }

  p > a.button:hover,
  div > a.button:hover,
  header div.nav-tools p strong a:hover  {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-font-color);
  }

  /* Primary Button v2 */
  p.button-container > strong > a.button {
    background-color: var(--button2-background-color);
    color: var(--button2-font-color);
    border: solid 2px var(--button2-border-color);
  }

  p.button-container > strong > a.button:hover {
    background-color: var(--button2-background-hover-color);
    color: var(--button2-font-hover-color);
    border-color: var(--button2-border-hover-color);
  }
  /* Secondary Button */
  a.button.secondary, button.secondary {
    background-color: var(--button-secondary-background-color);
    color: var(--button-secondary-font-color)
  }

  a.button.secondary:hover, button.secondary:hover {
    background-color: var(--button-secondary-hover-background-color);
    color: var(--button-secondary-font-hover-color)
  }
  /* Secondary Button v2 */
  p > strong > em > a.button.secondary {
    background-color: var(--button2-secondary-background-color);
    color: var(--button2-secondary-font-color);
    border: solid 2px var(--button2-secondary-border-color);
  }

  p > strong > em > a.button.secondary:hover {
    background-color: var(--button2-secondary-background-hover-color);
    color: var(--button2-secondary-font-hover-color);
    border-color: var(--button2-secondary-hover-border-color);
  }


  /* Disabled Button */
  button:disabled, button:disabled:hover {
    cursor: not-allowed;
    background-color: var(--button-disabled-background-color);
    color: var(--button-disabled-text);
  }
  

  
  