
a:any-link {
    color: var(--link-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
  }
  
  /* buttons */
  a.button:any-link, button {
    font-family: var(--button-font);
    font-size: var(--button-text-size);
    line-height: var(--button-line-height);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 12px 36px 12px 36px;
    text-align: center;
    font-style: normal;
    font-weight: var(--button-font-weight);
    cursor: pointer;
    color: var(--button-font-color);
    background-color: var(--button-background-color);
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0 25px 25px 25px;
  }
  
  a.button:hover, a.button:focus, button:hover, button:focus  {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-font-color);
    cursor: pointer;
  }
  
  button:disabled, button:disabled:hover {
    cursor: unset;
  }
  
  a.button.secondary, button.secondary {
    background-color: unset;
    border: 2px solid currentcolor;
    color: var(--text-color)
  }
  