 :root {
     /* Breakpoints */
     --mobile-breakpoint-min: 900px;
     --mobile-breakpoint-max: calc(var(--mobile-breakpoint-min) - 1px);
     /* Sagepath colors*/
     --dark-purple: #0B0B45;
     --purple: #0583D2;
     --light-purple: #BBE3FF;
     --white: #FFFFFF;
     --ivory: #F3F0E8;
     --dark-ivory: #D9D6CC;
     --slate: #242424;
     --light-slate: #D5D5D5;
     --midnight: #120E1D;

     /* Sagepath Fonts */
     --poppins-font-family: 'Poppins', sans-serif;
     --superior-font-family:  'Nunito', sans-serif;

     /* Font Sizes */
     --size-14: 14px;
     --size-16: 16px;
     --size-18: 18px;
     --size-60: 60px;
     --size-120: 120px;

     /* Font Weights */
      --bold-700: 700;
     --bold-700: 700;
     --bold-600: 600;
     --normal: 400;
     --normal-500: 500;

     /* Line Heights */
     --x2: 2;

     /* Sagepath Theme */
     --primary-background-color: var(--white);
     --secondary-background-color: var(--dark-purple);
     --text-color: var(--slate);
     --link-hover-color: var(--purple);
     --highlight-background-color: #ccc;
     --body-font-family: var(--poppins-font-family);
     --heading-font-family: var(--superior-font-family);
     --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

     /* Common Button Styling */
     --button-font: var(--poppins-font-family);
     --button-text-size: var(--size-16);
     --button-line-height: 26px;
     --button-font-weight: var(--bold-600);

    /* Primary Button Colors*/
    --button-background-color: var(--purple);
    --button-font-color: var(--white);
    --button-hover-font-color: var(--white);
    --button-hover-background-color: var(--dark-purple);

    /* Primary Button Colors v2 */
    --button2-background-color: transparent;
    --button2-font-color: var(--purple);
    --button2-border-color: var(--purple);
    --button2-background-hover-color: transparent;
    --button2-font-hover-color: var(--dark-purple);
    --button2-border-hover-color: var(--dark-purple);

    /* Secondary Button Colors */
    --button-secondary-background-color: var(--light-purple);
    --button-secondary-font-color: var(--dark-purple);
    --button-secondary-hover-background-color: var(--white);
    --button-secondary-font-hover-color: var(--dark-purple);

     /* Secondary Button Colors v2 */
    --button2-secondary-background-color: transparent;
    --button2-secondary-font-color: var(--dark-purple);
    --button2-secondary-border-color: var(--dark-purple);
    --button2-secondary-hover-background-color: transparent;
    --button2-secondary-font-hover-color: var(--white);
    --button2-secondary-border-hover-color: var(--white);

     /* Disabled Button */
     --button-disabled-background-color: var(--white);
     --button-disabled-text: var(--light-slate);
    
     /* Header */
     --header-background-color: var(--dark-purple);
     --header-font-family: var(--poppins-font-family);
     --header-font-color: var(--white);
     --header-font-weight: var(--bold-700);
     --header-items-font-weight: var(--normal);
     --header-hover-color: var(--light-purple);
     --header-font-size: var(--size-14);
     --header-line-height: var(--x2);
     --header-dropdown-background: var(--midnight);
     --header-dropdown-font-color: var(--ivory);
     --header-dropdown-hover-color: var(--dark-purple);

     /* Header height */
     --nav-height: 100px;

     /* Header Mobile */
     --header-hamburger-icon-color: var(--white);
     --header-hamburger-icon-background: var(--purple);
     --header-hamburger-border-color: var(--purple);

     /* Footer */
     --footer-background-color: var(--white);
     --footer-font-family: var(--poppins-font-family);
     --footer-listed-links-color: var(--purple);
     --footer-links-font-size: var(--size-14);
     --footer-links-line-height: var(--x2);
     --footer-links-weight: var(--bold-700);
     --footer-border-color: var(--purple);
     --footer-icon-border-color: var(--purple);
     --footer-icon-border-hover-color: var(--light-purple);

     /* body sizes */
     --body-font-size-m: 22px;
     --body-font-size-s: 18px;
     --body-font-size-xs: 16px;

     /* heading sizes */
     --heading-font-size-xxl: 48px;
     --heading-font-size-xl: 40px;
     --heading-font-size-l: 32px;
     --heading-font-size-m: 24px;
     --heading-font-size-s: 20px;
     --heading-font-size-xs: 18px;
 }

 @media (min-width: 900px) {
     :root {
         --heading-font-size-xxl: 60px;
         --heading-font-size-xl: 48px;
         --heading-font-size-l: 36px;
         --heading-font-size-m: 30px;
         --heading-font-size-s: 24px;
         --heading-font-size-xs: 22px;
     }
 }