.tagged-articles-grid-wrapper .tagged-articles-grid .article-grid-wrapper {
    grid-template-columns: 33% 33% 33%;
    display: grid;

    .block-wrapper {
        width: 90%;
        
        .image-wrapper {
            > div {
                display: flex;
                margin-bottom: 15px;
                img {
                    aspect-ratio: 2 / 1;
                    object-fit: cover;
                }
            }
        }

        .author-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            img { 
                border-radius: 100%;
                width: 20px;
                height: 20px;
                margin-right: 10px;

            }

            p {
                margin: 0;
                max-height: 20px;
                font-size: 13px;
            }
        }

        .titles-wrapper {
            h2 {
                font-size: 20px;
                margin: 0;
            }
            h3 {
                margin: 0;
                font-size: 16px;
                text-overflow: ellipsis;
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-weight: 300;
                padding-top: 10px;
            }
        }
    }
}